<div class="mod-landing mod-landing--branded">
  <div class="mod-landing__content">
    <h2 class="mod-landing__header">
      {{ page.title }}
    </p>
    <p class="mod-landing__sub">
      {{ page.rawmarkdown|markdown_line }}
    </p>
  </div>
</div>
