{% set content_blocks = build_lead(page.rawmarkdown, '---') %}
{% set backgroundColor = page.header.colour|default('blue-alt') %}

<div class="mod-story mod-story--bg-{{ backgroundColor }}">
  <div class="mod-story__content">
    <h2 class="mod-story__header">{{ page.title }}</h2>
    {% if content_blocks[0] %}
    <p class="mod-story__lead">{{ content_blocks[0] }}</p>
    {% endif %}
    {{ content_blocks[1] }}
  </div>
</div>
