@mixin heading {
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

@mixin h1 {
    @include heading;
    font-size: $font-size-h1;
    font-weight: 200;
}

@mixin h2 {
    @include heading;
    font-size: $font-size-h2;
    font-weight: 200;
}

@mixin h3 {
    @include heading;
    font-size: $font-size-h3;
}

@mixin h4 {
    @include heading;
    font-size: $font-size-h4;
}

@mixin h5 {
    @include heading;
    font-size: $font-size-h5;
}

@mixin h6 {
    @include heading;
    font-size: $font-size-h6;
}

@mixin lead {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
}

// Type display classes
@mixin display-1 {
    font-size: $display1-size;
    font-weight: $display1-weight;
    line-height: $display-line-height;
}

@mixin display-2 {
    font-size: $display2-size;
    font-weight: $display2-weight;
    line-height: $display-line-height;
}

@mixin display-3 {
    font-size: $display3-size;
    font-weight: $display3-weight;
    line-height: $display-line-height;
}

@mixin display-4 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    line-height: $display-line-height;
}
