//
// Main styling for body and font
//

html,
body {
    height: 100vh;
}

body {
    height: 100%;
    color: $c-black;
    background-color: $c-black;

    @include media-breakpoint-up(md) {
        background-attachment: fixed;
        background-image: $img-branded-backdrop;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 60vmin;
    }
}

.skip-to-content {
    @include sr-only;
    @include sr-only-focusable;

    &:focus {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 $grid-gutter * .5;
        margin: 0;
        line-height: $navbar-padding-y * 2 + $line-height-base;
    }
}
