//
// Site footer
//

.site-footer {
    @include make-container;
    @include make-container-max-widths;

    &__source-credits {
        @include make-row;
    }

    &__source-credit {
        @include make-col(3);
    }

    &__source {
        @include make-row;
    }

    &__source-grav {
        @include text-right;
        @include make-col(12);

        color: $c-grey-dark;

        a,
        a:visited,
        a:active {
            color: $c-grey-dark;
            text-decoration: underline;;
        }
    }
}
