//
// Header / navbar styling
//

.site-header {
    display: flex;
    padding: 1em 0;
    background-color: $c-blue-brand;

    &--home {
        background-color: transparent;
    }

    &__container {
        @include make-container;
        @include make-container-max-widths;

        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__brand {
        order: 1;
        min-height: 1;
    }

    &__toggler {
        @extend .navbar-toggler;
        align-self: auto;
        order: 3;
        border-color: $navbar-inverse-toggler-border;
    }

    &__toggler-icon {
        @extend .navbar-toggler-icon;
        background-image: $navbar-inverse-toggler-bg;
    }

    &__nav-top {
        order: 2;
        min-height: 1;
    }
}

// .navbar--mobile {
//     background-color: $c-blue-brand;
//
//     @include media-breakpoint-up(md) {
//         display: none;
//     };
// }

.site-header__brand {
    @include make-brand;

    display: flex;
}

@include media-breakpoint-up($nav-breakpoint) {
    .site-header {
        &__toggler {
            display: none;
        }

        &__nav {
            display: none;
        }
    }
}
