//
// Main navbar
//
// Shown on devices lg and up
//

.nav-main {
    @include make-site-nav;

    &__nav {
        display: none;
        flex-direction: row;
        margin-bottom: 0;

        @include media-breakpoint-up($nav-breakpoint) {
            display: flex;
        };
    }

    &__link {
        border-bottom-width: $navbar-item-bottom-border;
    }

    &__dropdown {
        top: calc(100% + 1rem);
        margin-top: 0;

        color: $c-white;
        background-color: $c-blue-brand;
        border-width: 0;
        border-radius: 0;
    }
}
