//
// Small navbar
//
// Shown on devices md and down
//

.nav-side {
    @include make-site-nav;

    position: fixed;
    top: 0;
    left: 0 - $navbar-offcanvas-width - 10;
    z-index: 850;

    flex-direction: column;
    justify-content: flex-start;

    width: $navbar-offcanvas-width;
    height: 100vh;

    padding: 2rem 0;
    background-color: $c-black;

    transition: left .25s ease-in-out;

    &-toggle:checked + & {
        left: 0;
    }

    &__brand {
        @include make-brand;

        align-self: center;
        flex-basis: auto;
        margin-bottom: 1.5rem;
    }

    &__brand-logo {
        margin: 0;
    }

    &__nav {
        flex-flow: column;
        width: $navbar-offcanvas-width;
    }

    &__item {
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    &__link {
        color: $c-nav-side-item;

        @include hover-focus {
            color: $c-nav-side-item-hover;
        };

        &:active,
        &.active,
        &--active,
        &--active:focus,
        &--active:hover,
        input:checked ~ & {
            color: $c-nav-side-item-active;
        }

        &[disabled],
        &:disabled,
        &.disabled,
        &--disabled,
        &--disabled:hover,
        &--disabled:focus,
        input:disabled ~ & {
            color: $c-nav-side-item-disabled;
        }
    }

    &__dropdown {
        position: relative;
        left: 1rem;
        float: none;
        width: calc($nav-offcanvas-width - 2rem);

        background-color: transparent;

        .dropdown-divider {
            background-color: $c-white-t75;
        }
    }

    &-toggle {
        display: none;
    }
}
