//
// Story module
//

.mod-text {
    @include site-wide;
    @include mod-background-variations($c-blue-white);

    /**
     * Dimension setting
     */

    &__content {
        padding-top: 2rem;
        padding-bottom: 2rem;

        text-align: center;
    }

    &__header {
        @include h2;

        max-width: 80%;
        margin: 0 auto 1rem auto;
    }

    &__lead {
        @include lead;

        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}
