{% from 'macro/brand.twig' import brand_logo %}
{% set site_root = base_url == '' ? '/' : base_url %}

{% set url_svg = url('theme://images/logo-white.svg') %}
{% set url_img = url('theme://images/logo-white.png') %}
{% set url_img2x = url('theme://images/logo-white@2x.png') %}

<header id="main-header" class="site-navbar">
  <div class="site-navbar__container">
    <button
      class="site-navbar__toggle"
      type="button"
      data-toggle="collapse"
      data-target="#djo-site-nav">
      <span class="sr-only">Toggle navigation</span>
    </button>
    {% spaceless %}
    <a class="site-navbar__brand" href="{{ site_root }}">
      <img class="site-navbar__brand-image" alt="logo"
        srcset="{{ url_svg }}, {{ url_img }}, {{ url_img2x }} 2x" /> DJO Amersfoort
    </a>
    {% endspaceless %}
    <nav class="collapse site-navbar__collapse" id="djo-site-nav">
      {% block header_navigation %}
      {% include 'partials/items/navbar.html.twig' %}
      {% endblock %}
    </nav>
  </div>
</header>
